<!DOCTYPE html>
<html>
<head>
  <title>Estuk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<<<<<<< HEAD
=======
<div class="container">
>>>>>>> 8ff7c4f20552a1a11378317b176e86d04903da16
<%= yield %>
</div>

</body>
</html>
